*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json

runs/*
data/*

pycocotools/*
results*.txt

*.weights
*.pt
*.onnx
*.mlmodel
*.torchscript
darknet53.conv.74
yolov3-tiny.conv.15

/img/test
/data
/checkpoints
/output
/.vscode
/state
/.idea
/log
**/__pycache__/
coco/
coco128/
VOC/